<div class="app-collection">
    <button type="button" class="btn btn-primary app-button">
        <a routerLink="/" class="app-link" [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active">Locator</a>
    </button>
    <button type="button" class="btn btn-primary app-button">
        <a routerLink="/value-track" class="app-link" routerLinkActive="active">Value Track</a>
    </button>
    <button type="button" class="btn btn-primary app-button">
        <a routerLink="/real-estate-management" class="app-link" routerLinkActive="active">Real Estate Management</a>
    </button>
</div>