<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="left-nav">
            <a class="app-brand">
                CBRE
                <span class="middle-name">Value</span>Track
            </a>
            <div class="user">
                <fa-icon [icon]="faUser" aria-hidden="true" class="icon-white"></fa-icon>
                <span class="user-name">Gayne, Sanchayeta</span>
            </div>
            <div class="log">Sign Out</div>
        </div>
        <div class="right-nav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link">
                        <fa-icon [icon]="faDatabase" aria-hidden="true" class="icon-white"></fa-icon>
                        Knowledge Base
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <fa-icon [icon]="faShield" aria-hidden="true" class="icon-white"></fa-icon>
                        Value Track Resources
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <fa-icon [icon]="faListOl" aria-hidden="true" class="icon-white"></fa-icon>
                        Reports
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <fa-icon [icon]="faUsers" aria-hidden="true" class="icon-white"></fa-icon>
                        Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <fa-icon [icon]="faGear" aria-hidden="true" class="icon-green"></fa-icon>
                        Admin
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container-fluid main-header">
        <div class="header-div">
            <div class="header-item">
                <div class="item-icon">
                    <fa-icon [icon]="faAddressCard" aria-hidden="true" class="icon-white"></fa-icon>
                </div>
                <a class="item-name">My Clients</a>
            </div>
            <div class="header-item">
                <div class="item-icon">
                    <fa-icon [icon]="faFileLines" aria-hidden="true" class="icon-white"></fa-icon>
                </div>
                <a class="item-name">My Initiatives</a>
            </div>
        </div>
    </div>
  </nav>