<h2></h2>
<app-chatbot-popup></app-chatbot-popup>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<!-- <form action="#">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<button>CBRE</button>
		</form> -->
		

	</div>
	<div class="form-container sign-in-container">
		
			<h1><img src='/assets/Images/logocbre.png'  width="150"></h1>
			<!-- <h1>Locator</h1> -->
			<!-- <div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button>Sign In</button> -->
		<div class="Application">
			<div class="Header"><div class="Prefix">EA Locator</div>
		</div>	
			
			Data discovery and story-telling
			Connecting your locations to CBRE market insights
		</div>

		<div class="Application">
			<div class="Header"><div class="Prefix">EA
				Builder</div>
		</div>	
		Data connection and extraction
		Simplifying connections to CBRE market insights
		</div>
		<div class="Application">
			<div class="Header"><div class="Prefix">EA
				Forecaster</div>
		</div>	
		Forecasting and what-ifs
		Empowering you to create and test forecast scenarios
		</div>
	
		
	</div>
	
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<img src ='/assets/Images/LoginScreenApps.png' height="100%" width="100%">
				<!--<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
				-->
			</div>
		</div>
	</div>
</div>


<router-outlet></router-outlet>