.card{
  min-height: 390px;
}

.card-body h2{
  font-family: fantasy;
  color: #006a4d;
}
.card-body h6 {
  font-family: 'Oswald', sans-serif;
  color: #012A2D;
}
.location-span {
  font-style: italic;
  color: #426d61;
}

.card-design {
  padding: 0;
  margin: 15px 0;
}

.card:hover img {
  transform: scale(1.15, 1.15);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 220px;
  opacity: 0.5;
}
.card img {
  transform: scale(1, 1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 220px;
}

.card-img-wrapper{
  overflow: hidden;
  position: relative;
}
.card-img-wrapper:hover .member-icons {
  bottom: 0;
  opacity: 1;
}
.member-icons{
  position: absolute;
  bottom: -10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.animate {
  transition: all 0.3s ease-in-out;
}

.img-btn {
  margin: 0 1rem;
}

.data-not-available{
  margin-top: 3rem;
  font-size: 1.2rem;
  color: gray;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-color-green{
  color: #00a300;
}
